<h1>James is awesome!!!</h1>

What do you wanna do?
<br/><br/>
<%= link_to 'Create wew collection of words', new_word_path() %><br/>

<br/>
<%= link_to 'Create new author', new_author_path() %><br/>
<%= link_to 'Edit authors', authors_path() %><br/>

<br/>
<%= link_to 'Create new kind', new_kind_path() %><br/>
<%= link_to 'Edit kind', kinds_path %><br/>

<br/>
<%= link_to 'Create new image set', new_image_set_path() %><br/>
<%= link_to 'Edit image sets', image_sets_path() %><br/>