<h1>Editing image_set</h1>

<% form_for(@image_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :perm %><br />
    <%= f.text_field :perm %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image_set %> |
<%= link_to 'Back', image_sets_path %>
