<h1>New author</h1>

<% form_for(@author) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :middle %><br />
    <%= f.text_field :middle %>
  </p>
  <p>
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', authors_path %>
